{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Venta - Modificar Venta</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="{% static 'ventas/css/agregarModificarVenta.css' %}">
</head>

<body>
    <div class="container">
        <h1>Ingresar Venta</h1>
        <form id="ventaForm" action="agregarModificarVenta/" method="POST"> <!--falta modificar-->
            {% csrf_token %}
            <div class="form-group">
                <label for="cliente">Cliente:</label>
                <select id="cliente" name="cliente">
                    <option>Seleccionar</option>
                    {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                    {% endfor %}
                </select>
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha">
                <label for="metodopago">Método de Pago:</label>
                <select id="metodopago" name="metodopago">
                    <option>Seleccionar</option>
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta">Tarjeta</option>
                </select>
            </div>
            <div class="form-group">
                <label for="servicio">Servicio:</label>
                <select id="servicio" name="servicio">
                    <option>Seleccionar</option>
                    {% for servicio in servicios %}
                    <option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id="agregarServicio">Agregar Servicio</button>
            </div>
            <!--style="overflow-y: auto; height: 200px"-->
            <div style="overflow-y: auto; height: 200px">
                <table>
                    <thead>
                        <tr class="filaPrincipal">
                            <th>Servicio</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="serviciosTableBody">
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="totals">
                <tbody id="totalventa">
                    <tr>
                        <td>Subtotal:</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>IVA:</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
            <div class="buttons">
                {% csrf_token %}
                <button id="guardar">Guardar</button>
            </div>
        </form>

        <div class="buttons">
            <form action="/registroVentas/">
                <button id="cancelar">Cancelar</button>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var serviciosSeleccionados = [];
            //
            $('#agregarServicio').click(function (e) {
                e.preventDefault();

                // Obtiene los valores de los campos
                var cliente = $('#cliente').val();
                var metodoPago = $('#metodopago').val();
                var servicio_id = $('#servicio').val();
                var fecha = $('#fecha').val();

                // Valida los valores
                if (cliente === "Seleccionar") {
                    alert("Por favor, selecciona un cliente.");
                    return;
                }

                if (!fecha) {
                    alert("Por favor, selecciona una fecha.");
                    return;
                }

                if (metodoPago === "Seleccionar") {
                    alert("Por favor, selecciona un método de pago.");
                    return;
                }

                // Verifica que el servicio_id sea un número válido
                if (isNaN(servicio_id) || servicio_id === "Seleccionar") {
                    alert('Por favor selecciona un servicio válido.');
                    return;
                }

                $.ajax({
                    url: '/obtener_servicio/' + servicio_id + '/',
                    method: 'GET',
                    success: function (data) {
                        var table = $('#serviciosTableBody');
                        var row = '<tr><td>' + data.nombre + '</td><td>' + data.descripcion + '</td><td>' + data.precio + '</td><td class="icon"><button class="delete-button"><img src="https://acortar.link/49Ychz" alt="Eliminar" /></button></td></tr>';
                        table.append(row);

                        //Aqui va la funcion para calcular el total
                        var tableTotal = $('#totalventa')
                        var subtotal = tableTotal.find('tr:first');
                        var secondCellValue = subtotal.find('td:eq(1)').text();
                        var subtotalCalc = parseFloat(data.precio) + parseFloat(secondCellValue);
                        subtotal.find('td:eq(1)').text(subtotalCalc.toFixed(2));
                        var iva = tableTotal.find('tr:eq(1)');
                        var ivaCalc = parseFloat(subtotalCalc) * (0.13);
                        iva.find('td:eq(1)').text(ivaCalc.toFixed(2));
                        var total = tableTotal.find('tr:eq(2)');
                        var totalCalc = parseFloat(subtotalCalc) + parseFloat(ivaCalc);
                        total.find('td:eq(1)').text(totalCalc.toFixed(2));
                        serviciosSeleccionados.push(servicio_id);
                    }
                });
                $('#servicio').val($('#servicio option:first').val());
            });
            //
            $(document).on('click', '.delete-button', function () {
                $(this).closest('tr').find('td:eq(2)').each(function () {
                    var contenidoCelda = $(this).text();
                    var tableTotal = $('#totalventa');
                    var subtotal = tableTotal.find('tr:first');
                    var secondCellValue = subtotal.find('td:eq(1)').text();
                    var subtotalCalc = parseFloat(secondCellValue) - parseFloat(contenidoCelda);
                    subtotal.find('td:eq(1)').text(subtotalCalc.toFixed(2));
                    var iva = tableTotal.find('tr:eq(1)');
                    var ivaCalc = parseFloat(subtotalCalc) * (0.13);
                    iva.find('td:eq(1)').text(ivaCalc.toFixed(2));
                    var total = tableTotal.find('tr:eq(2)');
                    var totalCalc = parseFloat(subtotalCalc) + parseFloat(ivaCalc);
                    total.find('td:eq(1)').text(totalCalc.toFixed(2));
                });
                var filaAEliminar = $(this).closest('tr');
                var indiceFila = filaAEliminar.index();
                serviciosSeleccionados.splice(indiceFila - 1, 1);
                $(this).closest('tr').remove();
            });
            //
            //
            $('#guardar').click(function (e) {
                e.preventDefault();

                // Obtiene los valores de los campos
                var cliente = $('#cliente').val();
                var metodoPago = $('#metodopago').val();
                var fecha = $('#fecha').val();

                // Valida los valores
                if (cliente === "Seleccionar") {
                    alert("Por favor, selecciona un cliente.");
                    return false; // Sale de la función
                }

                if (!fecha) {
                    alert("Por favor, selecciona una fecha.");
                    return false; // Sale de la función
                }

                if (metodoPago === "Seleccionar") {
                    alert("Por favor, selecciona un método de pago.");
                    return false; // Sale de la función
                }

                // Verifica que al menos un servicio ha sido agregado
                if (serviciosSeleccionados.length === 0) {
                    alert('Por favor agrega al menos un servicio.');
                    return false; // Sale de la función
                }

                var formDataServ = $('form').serialize();
                $.each(serviciosSeleccionados, function (index, id) {
                    formDataServ += '&servicios[' + index + '][id]=' + id;
                });
                $.ajax({
                    url: '/obtenerServicios/',
                    method: 'POST',
                    data: formDataServ,
                    success: function (response) {
                        //Aquí puedes manejar la respuesta del servidor
                        //window.location.href = "/generarFactura/"; 
                        var total = $('#totalventa').find('tr:eq(2)').find('td:eq(1)').text();
                        var formData = $('form').serialize() + '&total=' + total;
                        $.ajax({
                            url: '/agregarModificarVenta/',
                            method: 'POST',
                            data: formData,
                            success: function (response) {
                                window.location.href = "/generarFactura/"
                            }
                        });

                    }
                });
            });
            //
        });
    </script>

</body>

</html>