{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario centrado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ventas/css/newService.css' %}">
</head>
<body>
    <div class="container">

        <header>
            <h1>Editar Servicio</h1>
        </header>
        <form action="/editarServicio/" method="post">
            {% csrf_token %}
            <div class="form-grouptxt">
                <label for="name">Nombre:</label> <!--Estos serian los label-->
                <input type="text" id="name" name="name" value="{{ servicios.nombre }}">
            </div>

            <div class="descripcion1">
                <label for="Descripcion">Descripcion:</label>
                <textarea id="descripcion" name="descripcion" >{{ servicios.descripcion }}</textarea>
            </div>
        
            <div class="form-groupct">
                <label for="Costo">Costo:</label>
                <input type="costo" id="costo" name="costo" value="{{ servicios.costo }}">
            </div>

            <div class="ingress">
                <button>Ingresar Servicio</button>
            </div>
            <div class="form-group">
                <input type="text" id="id" name="id" value="{{ servicios.id }}" hidden=false/> 
            </div>
        </form>
        <!--Luego de eso Hacemos los respectivos botones de la pantalla-->
        
        <form action="/listadoServicio/">
            {% csrf_token %}
            <div class="cancel">
                <button>Cancelar</button>
            </div>
        </form>   
    </div>
</body>
</html>