{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingresar Nuevo Cliente</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'ventas/css/ingresarClientes.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Ingresar Nuevo Cliente</h1>
      </header>
      <form action="ingresarCliente/" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Nombre:</label>
          <!--Estos serian los label-->
          <input type="text" id="name" name="name" />
        </div>

        <label for="tipo-cliente" id="label-tipo-cliente"
          >Tipo de Cliente:</label
        >
        <select id="tipo-cliente" name="tipo-cliente">
          <option value="empresa">Empresa</option>
          <option value="persona">Persona</option>
        </select>

        <div class="form-group">
          <label for="nameComercial">Nombre Comercial:</label>
          <input type="text" id="nameComercial" name="nameComercial" />
        </div>

        <div class="form-group">
          <label for="direccion">Direccion:</label>
          <input type="text" id="direccion" name="direccion" />
        </div>

        <div class="form-group">
          <label for="telefono">Telefono:</label>
          <input type="text" id="telefono" name="telefono" />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" />
        </div>

        <div class="guardar">
          <button>Guardar</button>
        </div>
      </form>

      <!--Luego de eso Hacemos los respectivos botones de la pantalla-->
      <form action="/listadoClientes/">

        <div class="cancel">
          <button>Cancelar</button>
        </div>

      </form>

    </div>
  </body>
</html>
