{% load static %}
<!DOCTYPE html>
<html lang = es>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Listado de Servicio</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'ventas/css/listadoServicio.css' %}">
    <link rel="stylesheet" href="{% static 'ventas/css/home.css' %}">
</head>
<body>

    <nav class="sidebar close">
        <header>
          <div class="image-text">
            <span class="image">
              <img src="https://acortar.link/ImyhM4" alt="">
            </span>
    
            <div class="text logo-text">
              <span class="name"></span>
              <span class="Sistema">ERP ventas</span>
            </div>
          </div>
    
          <i class='bx bx-chevron-right toggle'></i>
        </header>
    
        <div class="menu-bar">
          <div class="menu">
    
            <li class="search-box">
              <i class='bx bx-search icon'></i>
              <input type="text" placeholder="Buscar...">
            </li>
    
            <ul class="menu-links">
              <li class="nav-link">
                <a href="/">
                  <i class='bx bx-home-alt icon'></i>
                  <span class="text nav-text">Home</span>
                </a>
              </li>
    
              <li class="nav-link">
                <a href="/registroVentas/">
                  <i class='bx bx-bar-chart-alt-2 icon'></i>
                  <span class="text nav-text">Registro de ventas</span>
                </a>
              </li>
    
              <li class="nav-link">
                <a href="/listadoServicio/">
                  <i class='bx bxs-book-content icon'></i>
                  <span class="text nav-text">Listado de Servicio</span>
                </a>
              </li>
    
              <li class="nav-link">
                <a href="/generarInformeVenta/">
                  <i class='bx bx-pie-chart-alt icon'></i>
                  <span class="text nav-text">Informe de Ventas</span>
                </a>
              </li>
    
              <li class="nav-link">
                <a href="/listadoClientes/">
                  <i class='bx bx-user-check icon'></i>
                  <span class="text nav-text">Listado de Cliente</span>
                </a>
              </li>
    
            </ul>
          </div>
    
          <div class="bottom-content">
            <li class="">
              <a href="#">
                <i class='bx bx-log-out icon'></i>
                <span class="text nav-text">Cerrar Sesión</span>
              </a>
            </li>
    
            <li class="mode">
              <div class="sun-moon">
                <i class='bx bx-moon icon moon'></i>
                <i class='bx bx-sun icon sun'></i>
              </div>
              <span class="mode-text text">Modo oscuro</span>
    
              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li>
    
          </div>
        </div>
      </nav>


    <div class="container">

        <header>
            <h1>Listado de Servicios</h1>
        </header>

        <div class = "search-bar">
                <label for = "Servicio">Servicio:</label>
                <input type = "text" id = "servicio" name = "servicio">
                <button> Buscar Servicio</button>
        </div>   
        
        <div class="buttons">
            <button>Ingresar Servicio</button>
        </div>

        <div class = "table-container" style="overflow-y: auto; height: 450px;">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Codigo</th>
                        <th>Costo</th>
                        <th>Total</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Local</td>
                        <td>Alquiler</td>
                        <td>A2954</td>
                        <td>$5000.00</td>
                        <td>$5490.00</td>
                        <td class="icon">
                            <button class="edit-button">
                                <img src="https://acortar.link/2XuSev" alt="Editar">
                            </button>
                        </td>
                        <td class="icon">
                            <button class="delete-button">
                                <img src="https://acortar.link/49Ychz" alt="Eliminar">
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>Estacionamiento</td>
                        <td>Establecimiento en la segunda planta</td>
                        <td>B2910</td>
                        <td>$4500.00</td>
                        <td>$4800.00</td>
                        <td class="icon">
                            <button class="edit-button">
                                <img src="https://acortar.link/2XuSev" alt="Editar">
                            </button>
                        </td>
                        <td class="icon">
                            <button class="delete-button">
                                <img src="https://acortar.link/49Ychz" alt="Eliminar">
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ></td>
                        <td ></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    
                    
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="{% static 'ventas/js/prueba.js' %}"></script>
</body>
</html>