{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sistema ERP de Ventas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ventas/css/loginK.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-left">
            <img src="https://acortar.link/ubDXGO" alt="Statue">
        </div>
        <div class="login-right">
            <img src="https://acortar.link/tsgTwE" class="logo">
            <form action="#" method="POST">
                <input type="text" name="username" placeholder="Nombre de usuario" >
                <input type="password" name="password" placeholder="Contraseña">
                <a href="#" class="forgot-link">¿Olvidó su nombre de usuario o contraseña?</a>
                <button type="submit" class="login-button">Acceder</button>
            </form>
        </div>
    </div>
</body>
</html>