body {
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.input-group label {
    font-weight: bold;
    margin-left: 330px;
}

.input-group input {
    padding: 5px;
    width: 150px;
    margin-left: 330px;
}

#fecha {
    padding: 5px;
    margin-left: 60px;
}

#labelFecha{
    margin-left: 65px;
}

.print-button {
    padding: 10px 15px;
    margin-right: 675px;
    margin-left: 160px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #d3e2e9;
    border: 1px solid #ccc;
}

.print-button:hover {
    background-color: #b0c4de;
}

.table-container {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 325px;
    margin-top: -20px;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #aa8caf;
}

th, td {
    padding: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    border: 1px solid #aa8caf;
}

tfoot {
    font-weight: bold;
}
