body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif; /*Tipo de letra*/
    background-color: #526D82; /*Fondo*/
    margin: 0% 10%; /*Margen*/
    padding: 0; /*Borde (no valores negativos)*/
}

.invoice {
    background-color: #9DB2BF;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 1, 0.1),
                0 5px 15px rgba(0, 0, 0, 0.1); /* Resplandor interno */
    width: 700px;  /* Ancho ajustado */
    height: 500px;  /* Altura ajustada */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Borde sutil */
    position: relative;
}

h1 {
    text-align: center;
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.invoice-header div {
    flex: 1;
    padding: 0 10px;
}

.invoice-header p {
    margin: 5px 0;
}


.buttons {
    text-align: right;
}

.buttonEditar {
    
    color: #27374d;
    border: none;
    margin-right: 100px;
    margin-top: -56px;
    text-align: right;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #27374d;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

button:hover {
    background-color: #27374d;
    opacity: 1; /* Opacidad del 100% al pasar el cursor */
}

@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .no-print {
        display: none;
    }
}

.totals {
    width: 250px;
    margin-left: auto;
    margin-bottom: 20px;
    border: 1px solid #27374d;
    border-collapse: collapse;
    
}

.totals td {
    padding: 8px;
    text-align: right;
    border: 1px solid #27374d;
}

.totals tr:first-child td {
    border-top: none;
}

.totals td:nth-child(1) {
    width: 1.8%;
    margin: 10px;
    
}

.totals td:nth-child(2) {
    width: 13%;
    text-align: center;
}

.invoice-table {
    width: 100%;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-collapse: collapse;

}

.filaPrincipal {
    height: 30px;
    color: white;
    
}

.invoice-table td:nth-child(2) {
    width: 50%;
}

.invoice-table td:nth-child(1) {
    width: 30%;
}

.invoice-table td:nth-child(3) {
    width: 20%;
}

.invoice-table th, .invoice-table td {
    /*background-color: #000000; No hacer esto*/
    border: 1px solid #000000;
}

.invoice-table td {
    padding: 8px;
    text-align: center;
}

.invoice-number {
    text-transform: uppercase;
}

.invoice-table, .invoice-table th, .invoice-table td {
    border: 1px solid #27374d;
}

.invoice-table th{
    background-color: #27374d;
}

.Columna{
    background-color: #27374d;
    color: white;
}