body{ /*Este el es css para el cuerpo de la pagina*/
    font-family: 'Times New Roman', Times, serif; /*Tipo de letra*/
    background-color: #ffffdf; /*Fondo*/
    padding: 0; /*Borde (no valores negativos)*/
}

.container {
    width: 80%;
    margin: auto;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
}

.periodo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.periodo label {
    position: absolute;
    margin-top: -55px;
    margin-left: 800px;
}

.periodo input {
    width: 200px;
    padding: 5px;
    margin-left: 720px;
}

.buttons button {
    margin-right: 10px;
    padding: 8px 10px;
    color: black;
    border: none;
    border-radius:6px;
    cursor: pointer;
    border: 1px solid ;
    background-color: solid #ddd;
}

.buttons button{
    position: absolute;
    right: 130px;
    margin-top: -64px;
    margin-right: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #aa8caf;
    background-color: #d3c1d6;
    text-align: center;
    height: 30px;
}

th {
    background-color: #aa8caf;
}

button.edit, button.delete {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
}

button.edit:hover, button.delete:hover, button.fecha:hover, button.ventas:hover {
    opacity: 0.7;
}

