body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #9DB2BF;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.1),
                0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #9DB2BF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    margin-right: 10px;
    padding: 5px;
}

.search-container button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #27374D;
    opacity: 0.7;
    border: none;
    color: white;
}

.search-container button:hover{
    background-color: #27374D;
    opacity: 1;
}

.new-sale {
    background-color: #27374D;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.new-sale:hover {
    background-color: #27374D;
    opacity: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #27374D;
}

th, td {
    padding: 8px;
    text-align: center;

}

th {
    background-color: #27374D;
}

.filaPrincipal{
    color: white;
}


