body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container label {
    margin-right: 10px;
}

.search-container input {
    margin-right: 10px;
    padding: 5px;
}

.search-container button {
    padding: 5px 10px;
    margin-right: 10px;
}

.new-sale {
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}

.new-sale:hover {
    background-color: purple;
    opacity: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #aa8caf;
}

th, td {
    padding: 8px;
    text-align: center;

}

th {
    background-color: #aa8caf;
}

.edit-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.edit-btn {
    color: #ffa500;
}

.delete-btn {
    color: #ff0000;
}
