{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modificar Cliente</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'ventas/css/ingresarClientes.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Modificar Cliente</h1>
      </header>
      <form action="/editarCliente/" method="post" id="clientForm">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" value="{{ cliente.nombre }}"  />
        </div>

        <label for="tipo-cliente" id="label-tipo-cliente">Tipo de Cliente:</label>
        <select id="tipo-cliente" name="tipo-cliente">
            <option value="empresa" {% if cliente.tipo_cliente == 'empresa' %}selected{% endif %}>Empresa</option>
            <option value="persona" {% if cliente.tipo_cliente == 'persona' %}selected{% endif %}>Persona</option>
        </select>

        <div class="form-group">
          <label for="nameComercial">Nombre Comercial:</label>
          <input type="text" id="nameComercial" name="nameComercial" value="{{ cliente.nombrecomercial }}" />
        </div>

        <div class="form-group">
          <label for="direccion">Direccion:</label>
          <input type="text" id="direccion" name="direccion" value="{{ cliente.direccion }}" />
        </div>

        <div class="form-group">
          <label for="telefono">Telefono:</label>
          <input type="text" id="telefono" name="telefono" value="{{ cliente.telefono }}" />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" value="{{ cliente.email }}" />
        </div>

        <div class="form-group">
          <input type="text" id="id" name="id" value="{{ cliente.id }}" hidden = false />
        </div>

        <!--Luego de eso Hacemos los respectivos botones de la pantalla-->
        <div class="guardar">
          <button type="submit">Guardar</button>
        </div>
      </form>

      <form action="/listadoClientes/">

        <div class="cancel">
          <button>Cancelar</button>
        </div>

      </form>
      
    </div>

    <script>

      document.getElementById("clientForm").addEventListener("submit", function (event) {
        // Evita el envío del formulario
        event.preventDefault();
  
        // Obtiene los valores del formulario
        var nombre = document.getElementById("name").value;
        var nombreComercial = document.getElementById("nameComercial").value;
        var direccion = document.getElementById("direccion").value;
        var telefono = document.getElementById("telefono").value;
        var email = document.getElementById("email").value;
  
        // Valida los valores
        if (!nombre || !/^[a-zA-Z\s]+$/.test(nombre)) {
          alert("Por favor, introduce un nombre válido. Solo se permiten letras y espacios.");
          document.getElementById("name").value = ""; // Limpia el campo
          return;
        }
  
        if (!nombreComercial || !/^[a-zA-Z\s]+$/.test(nombreComercial)) {
          alert("Por favor, introduce un nombre comercial válido. Solo se permiten letras y espacios.");
          document.getElementById("nameComercial").value = ""; // Limpia el campo
          return;
        }
  
        if (!direccion || !/^[a-zA-Z0-9\s,]+$/.test(direccion)) {
          alert("Por favor, introduce una dirección válida. Solo se permiten letras, números, espacios y comas.");
          document.getElementById("direccion").value = ""; // Limpia el campo
          return;
        }
  
        if (!telefono || !/^\d{8}$/.test(telefono)) {
          alert("Por favor, introduce un teléfono válido. Debe contener exactamente 8 números.");
          document.getElementById("telefono").value = ""; // Limpia el campo
          return;
        }
  
        if (!email || !/^\S+@\S+\.\S+$/.test(email)) {
          alert("Por favor, introduce un email válido.");
          document.getElementById("email").value = ""; // Limpia el campo
          return;
        }
  
        // Si todo es válido, envía el formulario
        this.submit();
      });
  
    </script>

  </body>
</html>
